@import url(./libs/_normalize.scss);
@import './variables';

.app {
  height: 100vh;
  position: relative;
}

.main {
  display: flex;
  margin: 150px auto 50px;
  justify-content: space-between;
  width: 1000px;
}

// =============================================LOGIN =================================

.app {
  width: calc(85vw - 40px);
  margin: 30px auto;
}

// =====================================================================================

.feedback_container {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.slaves_container {
  display: flex;
  align-items: center;
  .link {
    margin-right: 10px;
  }
  p {
    margin-right: 10px;
  }
}

.link {
  border-bottom: 1px #c2c2c2 solid;
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  margin-left: 50px;
}

.redbox {
  width: 20px;
  display: flex;
  background-color: $red !important;
  border-radius: 50px;
  color: #ffffff;
  span {
    margin: 0 auto;
  }
}

.greenbox {
  width: 20px;
  display: flex;
  background-color: $green !important;
  border-radius: 50px;
  color: #ffffff;
  span {
    margin: 0 auto;
  }
}

.green {
  background-color: $green !important;
}
.red {
  background-color: $red !important;
}
.disabled {
  display: none;
}
.datafor_container {
  max-height: 80px;
  white-space: nowrap;
  overflow: hidden;
  width: 320px;
}
.testing {
  transition: margin-left 2s;
  margin-left: 315px !important;
}
.arrow_container {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin: 20px;
  }
}
.super-but {
  margin-left: 20px;
  border-radius: 50px !important;
  margin-right: 15px;
  width: 280px !important;
  height: 50px !important;
  font-size: 16px;
  padding: 10px;
  background: none;
  border: 1.5px solid #c2c2c2;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}

.react-multiple-carousel__arrow {
  min-width: 20px !important;
  min-height: 20px !important;
  background: none !important;
}
.react-multiple-carousel__arrow--right {
  right: calc(4% + -15px) !important;
}

.react-multiple-carousel__arrow--left {
  left: calc(4% + -15px) !important;
}

.react-multiple-carousel__arrow::before {
  color: #878787 !important;
  font-weight: 800;
}
.btn {
  border-radius: 30px;
  margin-top: 15px;
  width: 160px;
  height: 45px;
  font-size: 16px;
  padding: 10px;
  background: none;
  border: 1.5px solid #000000;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}
.custom_container {
  margin-top: -35px;
}
.workersdesc_container {
  display: flex;
  margin-left: 40px;
  margin-bottom: 3cqh;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  button {
    height: 60px !important;
  }
}
.workers_header {
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.btn_cust {
  margin-top: 0;
  width: 250px !important;
}
.cust_car {
  width: 500px;
  .react-multiple-carousel__arrow--left {
    left: calc(4% + -25px) !important;
  }
}
.img_container {
  display: flex;
  align-items: center;
  span {
    margin-left: 20px;
    font-size: 24px;
  }
}

.testtest {
  width: 450px !important;
}
textarea {
  border-radius: 30px;
  width: 500px;
  height: 100px;
  padding: 10px 0 0 20px;
  border: 1.5px #c2c2c2 solid;
}
textarea::placeholder {
  font-size: 16px;
}
.test_cust {
  width: 60px !important;
  margin-right: 10px;
  margin-top: 0 !important;
}
.divforCard {
  display: flex;
  align-items: center;
  max-width: 490px;
  justify-content: space-between;
}
.yourtestcontainer {
  margin-top: 30px;
  margin-left: 40px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.yourtesth2 {
  margin-left: 40px;
  margin-top: 20px;
}
.btn_cust {
  width: 200px !important;
  margin-left: 40px;
  margin-top: 30px;
}
